:root {
    --primary-bg-color: #3E3B39;
    --light-bg-color: #918273;
    --font-color: #FBF1C6;
    --detail-color: #689C6A;
    --secondary-detail-color: #fabc33;
    --other-detail-color: #b06285;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 1rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: jetbrains mono, monospace;
    justify-content: flex-start;
    background-color: var(--primary-bg-color);
}

#playlist-view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    text-align: center;
    border-radius: 10px;
    height: 100%;
    width: 20rem;
    border: 2px solid var(--detail-color);
}

#playlist-header {
    color: var(--font-color);
    width: 100%;
    font-size: 2rem;
    margin-bottom: 1rem;
}

#playlist-content {
    height: 100%;
    width: 100%;
    border: 2px solid var(--detail-color);
    border-radius: 10px;
    display: flex;
    padding: 1rem 1rem;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#create-playlist-btn {
    width: 80%;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    background-color: var(--light-bg-color);
    color: var(--font-color);
    font-weight: bold;
    cursor: pointer;
}

#create-playlist-btn:hover {
    background-color: var(--detail-color);
}

#playlists {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.playlist {
    background-color: var(--light-bg-color);
    width: 100%;
    color: var(--font-color);
    padding: 0.5rem 1rem;
    border: var(--detail-color) 2px solid;
    border-radius: 10px;
}

.playlist:hover {
    background-color: var(--detail-color);
    cursor: pointer;
}

.song {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 0rem;
    color: var(--font-color);
}

.song img {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 2rem;
}

.song-title {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: left;
    min-width: 20%;
    color: var(--secondary-detail-color);
}

.song-info {
    font-size: 0.9rem;
    min-width: 10%;
    text-align: left;
    color: var(--detail-color);
    color: var(--secondary-detail-color);
}

#filter-container {
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    padding: 0rem 1rem;
}

#genre-filter {
    margin-top: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    background-color: var(--other-detail-color);
    color: var(--font-color);
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 1200px) {

    .song {
        padding: 0rem;
    }

    .song-title {
        font-size: 0.8rem;
    }

    .song-info {
        font-size: 0.7rem;
    }

    .song img {
        width: 50px;
        height: 50px;
    }
}