* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#1c1c4e, rgb(17, 17, 49));
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 3rem;
}

#playlist-container {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    overflow: hidden;
}