* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#1c1c4e, rgb(17, 17, 49));
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    padding: 3rem;
    font-family: Arial, Helvetica, sans-serif
}

#playlist-container {
    width: 500px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    display: flex;
    overflow: hidden;
}

#playlist-header {
    text-align: center;
    height: 50px;
    width: 100%;
    margin: 20px;
    color: rgb(146, 196, 230);
    font-size: 40px;
}